
<body>
<main id="main" class="main">
<h1 style="color:darkblue" class="text-primary"><span class="ri-car-washing-line">&nbsp;</span>Voiture <span class="breadcrumb-item text-secondary small" style="font-size: 15px; ">Liste</span></h1>
<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="['/home/accueil']">Accueil</a></li>
      <li class="breadcrumb-item active">Voitures</li>
    </ol>
  </nav>

            <div class="card">
                <div class="card-header justify-content-between" style="border-top:4px solid #a10909">
                    <h3>Liste des Voitutes</h3>
                </div>
                    <div class="card-body">
                   
                    <table id="example" class=" table  table-striped col-lg-12" style=" background: white; border: 0px; "> 
                        <thead>
                          <tr>
                            <th scope="col">Matricule</th>
                            <th scope="col">Type</th>
                            <th scope="col">Chauffeur</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                    
                                <tr *ngFor="let voiture of voitures">
                                    <td>{{voiture.matricule}}</td>
                                    <td>{{voiture.type}}</td>
                                    <td>{{voiture.prenom}} {{voiture.nom}}</td>
                                    <td>{{voiture.telephone}} </td>
                                    
                                    <td>
                                       
                                        <a href="" class="btn btn-primary"><span class="bi bi-pencil-square"></span></a>&nbsp;&nbsp;
                                        <a href="" class="btn btn-warning"><span class="bi bi-alarm-fill"><i class="ri-add-fill"></i></span></a>&nbsp;&nbsp;
                                        <a href=""  class="btn btn-danger " ><span class="bi bi-trash-fill"></span></a>
                                        
                                       
                                    </td>
                                </tr>
                           
                           
                        </tbody>
                      </table>
                    
            </div>
        </div>
  


<main>
   
