  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/home/accueil']">
          <i class="ri-home-3-fill"></i>
          <span>Accueil</span>
        </a>
      </li><!-- End Accueil Nav -->

      
<li class="nav-item" *ngIf="status === 'admin'">
  <hr>
  <a class="nav-link collapsed"  data-bs-toggle="collapse" [routerLink]="['/home/passager']">
          <i class="bi bi-people-fill"></i><span>Passagers</span>
        </a>
    </li><!-- End Passagers Nav -->

      
<li class="nav-item" *ngIf="status === 'admin'">
  <hr>
      <a class="nav-link collapsed"  data-bs-toggle="collapse" [routerLink]="['/home/chauffeur']">
        <i class="bi bi-person-standing"></i><span>Chauffeurs</span>
      </a>
  </li><!-- End Chauffeur Nav -->


  
<li class="nav-item" *ngIf="status === 'admin'">
  <hr>
          <a class="nav-link collapsed"  data-bs-toggle="collapse" [routerLink]="['/home/voiture']">
            <i class="ri-bus-fill"></i><span>Voitures</span>
          </a>
      </li><!-- End Voitures Nav -->

      <li class="nav-item" *ngIf="status === 'admin'">
        <hr>
        <a class="nav-link collapsed"  data-bs-toggle="collapse" [routerLink]="['/home/depart']">
          <i class="bi bi-alarm-fill" ></i><span>Départs</span>
        </a>
        </li><!-- End Voitures Nav -->
      


      
      
     
      <li class="nav-item" *ngIf="status === 'passager'">
        <hr>
        <a class="nav-link collapsed"  data-bs-toggle="collapse" [routerLink]="['/home/passager/mesDeparts']"  [queryParams]="{ id: param }">
          <i class="bi bi-alarm-fill"></i><span>Mes Départs</span>
        </a>
    </li><!-- End Mes Départs Nav -->
    <li class="nav-item" *ngIf="status === 'passager'">
      <hr>
      <a class="nav-link collapsed"  data-bs-toggle="collapse" [routerLink]="['/home/passager/mesBagages']">
        <i class="bi bi-bag-fill"></i><span>Mes bagages</span>
      </a>
  </li><!-- End Mes Bagages  Nav -->
     </ul>

  </aside><!-- End Sidebar-->
