
<body>
    <main id="main" class="main">
    <h1 style="color:darkblue" class="text-primary"><span class="bi bi-person-standing">&nbsp;</span>Chauffeur <span class="breadcrumb-item text-secondary small" style="font-size: 15px; ">Liste</span></h1>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="['/home/accueil']">Accueil</a></li>
          <li class="breadcrumb-item active">Chauffeur</li>
        </ol>
      </nav>
    
                <div class="card">
                    <div class="card-header justify-content-between" style="border-top:4px solid #a10909">
                        <h3>Liste des Chauffeurs <span style="padding-right: 10px;"><a [routerLink]="['/home/newChauffeur']" class="btn btn-success btn-icon-split">
                          <span class="icon text-gray-600">
                              <i class="bi bi-person-plus-fill"></i>
                          </span>
                          <span class="text">&nbsp; <strong>Ajouter un Chauffeur</strong> </span>
                      </a></span></h3>
                    </div>
                        <div class="card-body">
                       
                        <table  datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class=" table  table-striped col-lg-12" style=" background: white; border: 0px; "> 
                            <thead>
                              <tr>
                                <th scope="col">Prenom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Téléphone</th>
                                <th scope="col">Permis</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                        
                                    <tr *ngFor="let chauffeur of chauffeurs">
                                        <td>{{chauffeur.prenom}}</td>
                                        <td>{{chauffeur.nom}}</td>
                                        <td>{{chauffeur.adresse}}</td>
                                        <td>{{chauffeur.telephone}} </td>
                                        <td>{{chauffeur.numPermis}} </td>
                                        
                                        <td>
                                           
                                            <a [routerLink]="['/home/editChauffeur']"   [queryParams]="{ id: chauffeur.id }" style="margin-bottom: 12px;" class="btn btn-primary"><span class="bi bi-pencil-square"></span></a>&nbsp;
                                            <a [routerLink]="['/home/chauffeur/allVoitures']"   [queryParams]="{ id: chauffeur.id }" style="margin-bottom: 10px;" class="btn btn-warning"><span class="ri-bus-2-fill"></span></a>&nbsp;
                                            <a [routerLink]="['/home/chauffeur/newVoiture']"   [queryParams]="{ id: chauffeur.id }" style="margin-bottom: 12px;" class="btn btn-success"><span class="ri-bus-fill"><i class="ri-add-fill"></i></span></a>&nbsp;&nbsp;
                                            <button  class="btn btn-danger " (click)="deleteChauffeur(chauffeur.id)" ><span style="margin-bottom: 12px;" class="bi bi-trash-fill"></span></button>
                                            
                                           
                                        </td>
                                    </tr>
                               
                               
                            </tbody>
                          </table>
                        
                </div>
            </div>
      
    <button class="btn btn-danger" (click)="retour()">Retour</button>
    
    <main>
       
    
