
<body>
    <main id="main" class="main">
    <h1 style="color:darkblue" class="text-primary"><span class="bi bi-people-fill">&nbsp;</span>Passager <span class="breadcrumb-item text-secondary small text-warning " style="font-size: 19px;">Editing   <strong>{{user.prenom}} {{user.nom}}</strong></span></h1>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="home/accueil">Accueil</a></li>
          <li class="breadcrumb-item"><a href="home/passager">Passager</a></li>
          <li class="breadcrumb-item active">{{user.prenom}} {{user.nom}}</li>
        </ol>
      </nav>
    

      

  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4"><div style="text-align: center;" class="text-primary">Editing  Passager  <strong>{{user.prenom}} {{user.nom}}</strong></div></h5>
                  
                </div>


                <form #userForm="ngForm"  (ngSubmit)="updatePassager()" style="width: 500px;">
                  <div class="container mt-3 form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <!-- Utilisez une classe Bootstrap d'icône, par exemple, "bi bi-envelope" pour une icône d'enveloppe -->
                                <i class="bi bi-person-fill"></i>
                            </span>
                            </div>
                            <input type="text" name="prenom" required [class.is-invalid]="prenom.invalid && prenom.touched " [class.is-valid]="prenom.valid" #prenom="ngModel" [(ngModel)]="user.prenom" tabindex="1" class="form-control" placeholder="Prenom" value="">
                            <small class="text-danger" [class.d-none]=" prenom.untouched || prenom.valid"> Veuillez saisir le prenom </small>

                        </div>
                        
                    </div>
                
                <div class="container mt-3 form-group">
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">
                              <!-- Utilisez une classe Bootstrap d'icône, par exemple, "bi bi-envelope" pour une icône d'enveloppe -->
                              <i class="bi bi-person-fill"></i>
                          </span>
                          </div>
                          <input type="nom" name="nom" id="nom" required [class.is-invalid]="nom.invalid && nom.touched " [class.is-valid]="nom.valid" #nom="ngModel" [(ngModel)]="user.nom" tabindex="2" class="form-control" placeholder="Nom">
                          <small class="text-danger" [class.d-none]=" nom.untouched || nom.valid"> Veuillez saisir le nom </small>
                      </div>
                      
                  </div>
              
              <div class="container mt-3 form-group">
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">
                              <!-- Utilisez une classe Bootstrap d'icône, par exemple, "bi bi-envelope" pour une icône d'enveloppe -->
                              <i class="bi bi-person-fill"></i>
                          </span>
                          </div>
                          <input type="adresse" name="adresse" id="adresse" required [class.is-invalid]="adresse.invalid && adresse.touched " [class.is-valid]="adresse.valid" #adresse="ngModel" [(ngModel)]="user.adresse" tabindex="2" class="form-control" placeholder="Adresse">
                          <small class="text-danger" [class.d-none]="adresse.untouched || adresse.valid"> Veuillez saisir  l'adresse </small>
                      </div>
                      
                  </div>

              
              <div class="container mt-3 form-group">
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">
                              <!-- Utilisez une classe Bootstrap d'icône, par exemple, "bi bi-envelope" pour une icône d'enveloppe -->
                              <i class="bi bi-person-fill"></i>
                          </span>
                          </div>
                          <input type="telephone" name="telephone" pattern="^[0-9]{9}$" id="telephone" required [class.is-invalid]="telephone.invalid && telephone.touched " [class.is-valid]="telephone.valid" #telephone="ngModel" [(ngModel)]="user.telephone" tabindex="2" class="form-control" placeholder="Telephone">
                          <small class="text-danger" [class.d-none]=" telephone.untouched || telephone.valid"> Veuillez saisir le numero de téléphone </small>
                      </div>
                      
                  </div>

                  <div class="container mt-3 form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <!-- Utilisez une classe Bootstrap d'icône, par exemple, "bi bi-envelope" pour une icône d'enveloppe -->
                                <i class="bi bi-person-fill"></i>
                            </span>
                            </div>
                            <input type="number" name="carteId" id="carteId" pattern="^[0-9]{13}$" required [class.is-invalid]="carteId.invalid && carteId.touched " [class.is-valid]="carteId.valid" #carteId="ngModel" [(ngModel)]="passager.carteId" tabindex="2" class="form-control" placeholder="Carte ID">
                            <small class="text-danger" [class.d-none]=" carteId.untouched || carteId.valid"> Veuillez saisir le numéro de carte </small>
                        </div>
                        
                    </div>
      
              
           
          
                
                  <div class="mt-3 form-group">
          
                      <input [disabled]="userForm.form.invalid " type="submit"  tabindex="4" class="form-control btn btn-primary"  value="Valider"/>
          
                  </div>
                  <br>
                  
                </form>
                
                
                </div>
             
            </div>

            

          </div>
        </div>
      </div>

    </section>

  </div>
  <button class="btn btn-danger" (click)="retour()">Retour</button>

</main><!-- End #main -->






































      
    <main>
       
    

