<main id="main" class="main">
<h1 style="color:darkblue" class="text-primary"><span class="bi bi-alarm-fill">&nbsp;</span>Departs <span class="breadcrumb-item text-secondary small" style="font-size: 15px; ">Liste</span></h1>
&nbsp;<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="['/home/accueil']">Accueil</a></li>
      <li class="breadcrumb-item active">Départs</li>
    </ol>
  </nav>

            <div class="card">
                <div class="card-header justify-content-between" style="border-top:4px solid #3545b8">
                    <h3>Liste des Départs</h3>
                </div>
                    <div class="card-body">
                   
                    <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class=" table  table-striped col-lg-16  " style=" background: white; border: 0px; width:100%"> 
                        <thead>
                          <tr>
                            <th scope="col">Depart</th>
                            <th scope="col">Voiture</th>
                            <th scope="col">Chauffeur</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                    
                                <tr *ngFor="let depart of departs">
                                    <td>{{depart.dateHeure}}  /  {{depart.destination}}</td>
                                    <td>{{depart.type}} / {{depart.matricule}}</td>
                                    <td>{{depart.prenom}} {{depart.nom}}</td>
                                    <td>{{depart.telephone}}</td>
                                    
                                    <td>
                                       
                                        <a [routerLink]="['/home/editDepart']"   [queryParams]="{ id: depart.id,dateHeure :depart.dateHeure}"  class="btn btn-primary" style="margin-bottom: 12px;"><span class="bi bi-pencil-square"></span></a>&nbsp; 
                                        <a [routerLink]="['/home/depart/addPassager']"   [queryParams]="{ id: depart.id,dateHeure :depart.dateHeure}" class="btn btn-success"  style="margin-bottom: 12px;"><span class="bi bi-person-plus-fill"></span></a>&nbsp;
                                        <a [routerLink]="['/home/depart/passager']"   [queryParams]="{ id:depart.id,dateHeure:depart.dateHeure,destination:depart.destination}"  style="margin-bottom: 12px;" class="btn btn-warning "   ><span class="bi bi-people-fill"></span></a>&nbsp;
                                        <button style="margin-bottom: 12px;" class="btn btn-danger " (click)="deleteDepart(depart.id,depart.dateHeure)"><span class="bi bi-trash-fill"></span></button>
                                       
                                    </td>
                                </tr>
                           
                           
                        </tbody>
                      </table>
                    
            </div>
        </div>
        <button class="btn btn-danger" (click)="retour()">Retour</button>
    

