
<body>
    <main id="main" class="main">
    <h1 style="color:darkblue" class="text-primary"><span class="bi bi-people-fill">&nbsp;</span>Passager </h1>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="['accueil']">Accueil</a></li>
          <li class="breadcrumb-item "><a  routerLink="['/home/passager']">Passager</a></li>
       

        </ol>
      </nav>
    
                <div class="card">
                    <div class="card-header justify-content-between" style="border-top:4px solid #a10909">
                        <h3>Liste des Bagages <span class="text-danger"><strong>{{passager.prenom}} {{passager.nom}}</strong></span> </h3> 
                    </div>
                        <div class="card-body">
                       
                        <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class=" table  table-striped col-lg-12" style=" background: white; border: 0px; "> 
                            <thead>
                              <tr>
                                <th scope="col">Libellé</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                               
                              </tr>
                            </thead>
                            <tbody>
                        
                                    <tr *ngFor="let bagage of bagages">
                                        <td>{{bagage.libelle}}</td>
                                        <td>{{bagage.quantite}}</td>
                                        <td>{{bagage.date}}</td>
                                      
                                        
                                        <td>
                                           
                                            <a [routerLink]="['/home/passager/editBagage']"   [queryParams]="{ id:bagage.id}" class="btn btn-primary"><span class="bi bi-pencil-square"></span></a>&nbsp;&nbsp;
                                            <button (click)="deleteBagage(bagage.id)" class="btn btn-danger " ><span class="bi bi-trash-fill"></span></button>
                                            
                                           
                                        </td>
                                    </tr>
                               
                               
                            </tbody>
                          </table>
                        
                </div>
            </div>
      
    
    
    <main>
       
    
