

<body>

  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1 class="text-primary" style="font-size: 40px;" ><span class="ri-home-3-fill"></span> Bienvenue sur Garage <span class="text-secondary" style="font-size:12px">votre logiciel d'assistance de gestion de votre garage</span> </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="['/home/accueil']">Accueil</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div>
     
    </div>
     
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   <br>


  </main><!-- End #main -->

  
 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 

</body>